.help_top {
	display: flex;
	flex-direction: column;
	row-gap: var(--indentation);
	margin-bottom: calc(var(--indentation-ver-big) * 2);

	&__subtitle {
		text-align: center;
	}

	&__form {
		input {
			padding-right: 65px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: calc(var(--indentation-small) + 4px);
	}

	&__icon {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 40px;
		transform: translateY(-50%);
	}

	@media (max-width: 1024px) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 480px) {
		&__list {
			grid-template-columns: 1fr;
		}
	}
}
