.textarea {
	background-color: var(--fourth-color);
	border: 1px solid var(--fifth-color);
	border-radius: 12px;
	color: var(--third-color);
	font-size: 16px;
	font-family: 'Gotham Pro', sans-serif;
	padding: 20px 40px;
	width: 100%;

	&::placeholder {
		color: var(--fifth-color);
	}
}
