.title {
	font-size: 20px;
	font-weight: 900;

	&.uppercase {
		text-transform: uppercase;
	}

	@media (max-width: 920px) {
		font-size: 16px;
	}

	@media (max-width: 576px) {
		font-size: 14px;
	}
}
