.admin_indicators {
	display: flex;
	flex-direction: column;
	row-gap: var(--indentation-small);
	width: 100%;
	max-width: 400px;

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
	}

	&__item {
		color: var(--fifth-color);
		display: flex;
		justify-content: space-between;
	}

	&__count {
		color: var(--first-color);
		font-weight: 700;
	}
}
