.outstanding {
	display: flex;
	align-items: center;
	column-gap: 24px;
	margin: -102px 0 40px;

	&__left {
		width: 100%;
		max-width: 416px;
	}

	&__title {
		color: var(--third-color);
		font-size: 48px;
	}

	&__description {
		margin: var(--indentation) 0;
	}

	&__img {
		width: 100%;
	}

	@media (max-width: 1100px) {
		margin-top: -5vw;
	}

	@media (max-width: 920px) {
		flex-direction: column;
		align-items: baseline;
		margin-top: 0;

		&__left {
			position: relative;
			max-width: 100%;
		}

		&__right {
			margin-top: -100px;
		}

		&__description {
			margin: 16px 0;
		}
	}
}
