.item {
	display: flex;
	flex-direction: column;
	row-gap: var(--indentation-small);

	&.red {
		box-shadow: none;
		border: 1px solid var(--first-color);
	}

	&__title {
		font-size: 20px;
		font-weight: 900;
		text-transform: uppercase;
	}

	&__description {
		color: var(--fifth-color);
		display: flex;
		flex-direction: column;
		row-gap: var(--indentation-small);
	}

	&__action {
		margin-top: auto;
	}

	@media (max-width: 576px) {
		&__title {
			font-size: 16px;
		}
	}
}
