.item {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
}

.dropDown {
  cursor: default;
  background-color: var(--fourth-color);
  border-radius: 8px;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 12px;
  position: absolute;
  left: 10px;
  top: 0;
  transform: translateY(28px);
  z-index: 1;
}

.list {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.li {
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  text-wrap: nowrap;
  width: fit-content;
  padding: 5px 0 5px 0;
}

.li:hover {
  color: var(--fifth-color);
}