.nav {
  display: flex;
  grid-gap: 4px 40px;

  @media (max-width: 1330px) {
    column-gap: 20px;
    flex-wrap: wrap;
  }

  @media (max-width: 920px) {
    flex-direction: column;
    row-gap: 20px;
  }
} 