.imap_form {
	margin-bottom: 40px;

	&__content {
		display: flex;
		align-items: flex-start;
		grid-gap: 24px 48px;
		margin-top: var(--indentation);
	}

	&__form {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		row-gap: var(--indentation-small);
	}

	@media (max-width: 920px) {
		&__content {
			flex-wrap: wrap;
		}
	}
}
