.register_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: var(--indentation-big);

  &__input {
    width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
  }

  &__checkboxs {
    display: flex;
    flex-direction: column;
    row-gap: var(--indentation-small);
  }

  // @media (max-width: 920px) {


  //   &__inputs {
  //     row-gap: 16px;
  //   }
  // }
}
