.mailing_form {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: var(--indentation-big);

	&__content {
		display: flex;
		align-items: flex-start;
		grid-gap: 24px 48px;
		width: 100%;
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: var(--indentation);
		flex-grow: 1;
	}

	@media (max-width: 920px) {
		&__form {
			flex-basis: 100%;
		}

		&__content {
			flex-wrap: wrap;
		}
	}
}
